
.afficher
{
  	background-color: white;
   	margin-right: 5px;
   	
}
.signifier
{
	whidth:90px;
	height:90px;
	background-image: url("https://vortex.accuweather.com/adc2010/images/slate/icons/08.svg");
	background-repeat: no-repeat;
}